let config = {};

// A form has to be created in hubspot first, with properties that match the name of the values that will
// be posted to the form. Both the hubspot account id (portal id) and the form id (the form GUID) can be 
// retrieved after creating the form and selecting 'Share Form', and copying the Embed Code.
// See https://knowledge.hubspot.com/forms/find-your-form-guid

// the id of the hubspot account (aka portal id).
config.hubspotAccountId = '';

// the id of the hubspot list where you want the contact's info to be stored.
config.hubspotFormId = '';

// API end point to post new contact information.
config.hubspotEndpoint = 'https://api.hsforms.com/submissions/v3/integration/submit/';

export default config;